<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<section>
    <h1>Homepage</h1>
    <p>
        <a href="{{ RouteToUser }}">{{ LinkTitle }}</a>
    </p>
    <p>
        <a href="/home/first-page">Dodaj Methodo</a>
    </p>
    <p>
        <a href="/home/first-page/primer/stran/4/od/8">Dodaj Argumente</a>
    </p>
    <p>
        <a href="/home">Ponastavi</a>
    </p>

    <h4>Methoda v URLu</h4>
    <p>{{ Method }}</p>
    <h4>Parametri v URLu</h4>
    <u>
        {% for param in Params %}
            <li>{{ param }}</li>
        {% endfor %}
        <u/>

        <section>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>